{
  "ATELIER": "C:/TotalWar-CampaignMap",
  "WH3": "C:/Program Files (x86)/Steam/steamapps/common/Total War WARHAMMER III",
  "WH1": "C:/Program Files (x86)/Steam/steamapps/common/Total War WARHAMMER"
}
